<div class="center jumbotron">
  <h1>Welcome to the Assignment Requirement 3</h1>

  <h2>
    THis 
  </h2>
   <%= link_to image_tag("lbu.png", alt: "Rails logo"),
            'http://leedsbeckett.ac.uk/' %>
            
  <%= link_to "Check Out My Portfolio", 'http://yunishlalshrestha.com.np/', target:"_blank", class: "btn btn-lg btn-primary" %>
  
  <%= link_to image_tag("tbc.png", alt: "Rails logo"),
            'http://thebritishcollege.edu.np/' %>
</div>

