<%= form_for(@micropost) do |f| %>
  <% if @micropost.errors.any? %>
    <div id="form-group">
      <h2><%= pluralize(@micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class:"form-control", placeholder:"Enter Your Content" %>
  </div>
  <div class="field form-group">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id, class:"form-control", placeholder:"Select Your User ID" %>
  </div>
  <div class="action form-group">
    <%= f.submit "Create Microposts", class: "btn btn-primary" %>
  </div>
<% end %>
