<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "https://www.facebook.com/Yunish.RedDevil.Shrestha", target:'_blank' do %><i class="fa fa-facebook fa-2x"></i><% end %></li>
      <li><%= link_to "https://np.linkedin.com/in/yunishshrestha", target:'_blank' do %><i class="fa fa-linkedin fa-2x"></i><% end %></li>
      <li><%= link_to "https://www.twitter.com", target:'_blank' do %><i class="fa fa-twitter fa-2x"></i><% end %></li>
    </ul>
  </nav>
</footer>