<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", static_pages_home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
       
        <li><%= link_to "Help", static_pages_help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "User List", users_path %></li>
        <li><%= link_to "Micropost List", microposts_path %></li>
      </ul>
    </nav>
  </div>
</header>